@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #393D3F;
  color: #FDFDFF;
}

.site--main_button{
  background: rgb(84, 106, 123, 0.7);
}

.site--main_button:hover{
  background: rgb(253, 253, 255, 0.7);
  color: #2D3142
}