@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --white: #FDFDFF;
  --dark-grey: #212529;
  --grey:#393D3F;
  --medium-grey: #6c757d;
  --light-grey: #BFC0C0;
  --blue: #90e0ef;
}

body{
  height: 100%;
  background: var(--grey);
  color: var(--white);
}

.site--main_button{
  background: rgb(57, 61, 63, 0.7);
}

.site--main_button:hover{
  background: rgb(253, 253, 255, 0.7);
  color: var(--dark-grey);
}

.navbar--link{
  display: inline-block;
  position: relative;
}

.navbar--link::before {
  transition: 400ms;
  height: 5px;
  content: "";
  position: absolute;
  width: 0%;
  bottom: 10px;
  background-color: var(--blue);
}

.navbar--link:hover::before{
  width: 100%;
}

.main--body{
  background: var(--dark-grey);
}

.portfolio--image_title{
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: transparent;
}

.portfolio--image:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.portfolio--image:hover .portfolio--image_title{
  color: var(--white);
}

.about--contact_button:hover{
  border-style: solid;
  border-width: 2px;
  border-color: var(--blue);
}

#notifyToast {
  color: var(--dark-grey);
  background-color: var(--white);
  text-align: center;
  border-radius: 0.375rem;
  width: 9.5rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 1600px) {

  .site--main_title-name{
    font-size: 6rem;
    margin-top: 15%;
  }

  .site--main_title-description{
    font-size: 1.875rem;
  }

  .site--main_button{
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 768px) {

  .site--main_title-name{
    font-size: 4.5rem;
    margin-top: 20%;
  }

  .site--main_title-description{
    font-size: 1.5rem;
  }

  .site--main_button{
    font-size: 1.25rem;
    padding: 0.625rem 1.5rem;
  }

}

@media only screen and (max-width: 425px) {

  .site--main_button{
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }

}